snscrape

Ref: https://github.com/JustAnotherArchivist/snscrape

In [2]:
import snscrape.modules.twitter as sntwitter
import pandas as pd

Scraping a specific Twitter user‚Äôs tweets

Let's use this handle: @KimKardashian

Using the code, we can scrape 100 tweets from Twitter user @KimKardashian.
We then pulled the DateTime, tweet id, text, and username attributes from the tweet objects.

In [12]:
# Creating list to append tweet data 
tweets_list1 = []

# Using TwitterSearchScraper to scrape data and append tweets to list
handle = 'Paypal'

# declare a username 
for i, tweet in enumerate(sntwitter.TwitterSearchScraper('from:' + handle).get_items()): 
    if i > 100: #number of tweets you want to scrape
        break
        
    #declare the attributes to be returned
    tweets_list1.append([tweet.date, tweet.id, tweet.content, tweet.user.username])
    
# Creating a dataframe from the tweets list above 
tweets_df1 = pd.DataFrame(tweets_list1, columns=['Datetime', 'Tweet Id', 'Text', 'Username'])

In [13]:
tweets_df1

,Datetime,Tweet Id,Text,Username
0,2022-01-24 16:00:31+00:00,1485643687778562048,Mondays in January are known to be especially ...,PayPal
1,2022-01-21 19:01:16+00:00,1484602009852342278,What are you manifesting for your PayPal accou...,PayPal
2,2022-01-21 18:00:08+00:00,1484586624277262341,.@ToryBurch Founder and Chairman Tory Burch jo...,PayPal
3,2022-01-17 16:00:19+00:00,1483106921896984581,Did you know that Martin Luther King Jr. Day i...,PayPal
4,2022-01-15 18:00:11+00:00,1482412313059725318,If you do a victory lap around the couch every...,PayPal
...,...,...,...,...
96,2021-10-30 23:41:15+00:00,1454594277346926594,@TiwariJo Noted! ‚ò∫Ô∏è,PayPal
97,2021-10-30 20:56:35+00:00,1454552837799636993,@griffith_lorisa 5 pieces seems to be a popula...,PayPal
98,2021-10-30 20:55:32+00:00,1454552574422503424,@CyanNerdz_ üòÇ,PayPal
99,2021-10-30 20:55:17+00:00,1454552510924873730,@NYsFinestGFX You could have just voted yes. ü§£,PayPal
100,2021-10-30 20:46:32+00:00,1454550310580416514,@how1337itis Let‚Äôs wait and see. üßê,PayPal

Scraping tweets from a text search query

Using the code below, we are scraping 100 tweets between June 14, 2020, and August 31, 2021,
with the keywords 'SSR Bollywood'.

I then pulled attributes DateTime, tweet id, text, and username from the tweet objects.

In [19]:
# Creating list to append tweet data to
tweets_list2 = []

# search terms
search_terms = 'Tottenham'

# Using TwitterSearchScraper to scrape data and append tweets to list
for i, tweet in enumerate(sntwitter.TwitterSearchScraper(search_terms + ' since:2020-01-01 until:2022-01-26').get_items()):
    if i > 10000:
        break
    #declare the attributes to be returned
    tweets_list2.append([tweet.date, tweet.id, tweet.content, tweet.user.username])

# Creating a dataframe from the tweets list above
tweets_df2 = pd.DataFrame(tweets_list2, columns=['Datetime', 'Tweet Id', 'Text', 'Username'])

In [20]:
tweets_df2

,Datetime,Tweet Id,Text,Username
0,2022-01-25 23:59:56+00:00,1486126722525319170,I apologize to my timeline but Tottenham have ...,DaveUchowski
1,2022-01-25 23:59:38+00:00,1486126648747610118,@SpursOfficial What a player !!!,bigtalk1984
2,2022-01-25 23:59:14+00:00,1486126547933315078,Tottenham se meti√≥ a la puja por Luis D√≠az y p...,ImpactoNewsCol
3,2022-01-25 23:58:59+00:00,1486126483110309888,@jonathanliew You claim to be Tottenham? This ...,nick36555
4,2022-01-25 23:58:45+00:00,1486126428034895875,Face reveal IF tottenham ever make a transfer,2f5639e7bcf2406
...,...,...,...,...
9996,2022-01-24 23:14:39+00:00,1485752939490783233,TOTTENHAM SIGUE SIN PODER VENCER AL¬†CHELSEA ht...,MeridianbetPE
9997,2022-01-24 23:14:10+00:00,1485752820309676034,@fairius994 Ci ha provato il Tottenham l'Arsen...,Alemilanista86
9998,2022-01-24 23:12:57+00:00,1485752513655627777,When mfs when @SpursOfficial ‚è≥,atthatsun
9999,2022-01-24 23:12:52+00:00,1485752489119002625,VEM PRO TOTTENHAM NEYMAR,heimerlandia
10000,2022-01-24 23:12:49+00:00,1485752477601439750,"@SpursOfficial is doomed, i think it's time to...",Callmespurs

In [22]:
file_name = 'tweets_snscrape2.csv'

tweets_df2.to_csv(file_name, index=False)